.message:not(.ic):not(.whisper) .message-content {
  font-family: "Lucida Console", Courier, monospace;
  font-weight: 100;
}

.whisper .message-content {
  opacity: 0.7;
}

.message-sender {
  font-weight: 900;
  text-decoration: underline;
  font-style: normal;
}

.whisper .message-sender {
  font-size: smaller;
  font-weight: normal ;
  font-style: italic ;
  text-decoration: none ;
}

.ic .message-content {
  font-family: "Bradley Hand", cursive;
  font-size: 120%;
  font-weight: 700;
}

.emote .message-content {
  font-variant: small-caps;
  font-size: 160%;
  font-weight: 700;
  font-family: Impact;
}
