.message:not(.ic):not(.whisper) .message-content {
  font-family: "Lucida Console", Courier, monospace;
  font-weight: 100;
}

.quote {
  font-family: "Lucida Console", Courier, monospace;
  font-weight: 100;
}

.whisper {
  background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(0,255,255,1), rgba(255,255,255,1)) !important;
}

.emote {
  background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(200,0,0,.2), rgba(255,255,255,1)) !important;
}

.whisper .message-content {
  opacity: 0.5;
}

.message-sender {
  font-weight: 900;
  text-decoration: underline;
  font-style: normal;
}

.whisper .message-sender {
  font-size: smaller;
  font-weight: normal ;
  font-style: italic ;
  text-decoration: none ;
}

.quote {
  font-family: "Bradley Hand", cursive;
  font-size: 120%;
  font-weight: 700;
}

.emote .message-content {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 160%;
  /* font-weight: 700; */
  font-family: Impact;
}
