.message:not(.ic):not(.whisper) .message-content {
  font-family: "Lucida Console", Courier, monospace;
  font-weight: 100;
}

.quote {
  font-family: "Lucida Console", Courier, monospace;
  font-weight: 100;
}

@media (prefers-color-scheme: light) {
  .whisper {
	 background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(0,255,255,1), rgba(255,255,255,1)) !important;
	 color: black !important;
  }

  .emote {
	 background-image: linear-gradient(to right, rgba(255,255,255,.2), rgba(200,0,0,.3), rgba(255,255,255,.2)) !important;
	 /* background-image: linear-gradient(to right, rgba(255,255,255,.5), rgba(200,0,0,.5), rgba(255,255,255,.5)) !important; */
	 color: black !important;
  }
}

@media (prefers-color-scheme: dark) {

  .whisper {
	 color: black;
  }
}

.whisper .message-content {
  opacity: 0.5;
}

.message-sender {
  font-weight: 900;
  text-decoration: underline;
  font-style: normal;
}

.whisper .message-sender {
  font-size: smaller;
  font-weight: normal ;
  font-style: italic ;
  text-decoration: none ;
}

.quote {
  font-family: "Bradley Hand", cursive;
  font-size: 120%;
  font-weight: 700;
}

.emote .message-content {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 160%;
  /* font-weight: 700; */
  font-family: Impact;
}

.ghost-text {
  transform: translate(-50%, -50%);
  letter-spacing: .1rem;
  line-height: 1.5rem;
  padding: 2px;
  font-size: 24pt;
  animation: ghostshake 2.5s infinite;
  font-family: "Ghost", Arial;
  color: red;
}

@font-face {
    font-family: "Ghost";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("../font/shlop rg.ttf")
}

@keyframes ghostshake {
  0% {
	 transform: translate(0, 0) skew(0deg) scale(1, 1);
	 /* filter: blur(0.1px); */
	 /* filter: sepia(.3); */
  }
  10% {
	 transform: translate(1px, 1px) skew(1deg) scale(0.99, 0.99);
	 /* filter: blur(0.3px); */
	 /* filter: sepia(.5); */
  }
  20% {
	 transform: translate(-1px, 1px) skew(2deg) scale(1, 1);
	 /* filter: blur(0.5px); */
	 /* filter: sepia(.7); */
  }
  30% {
	 transform: translate(0px, -0px) skew(-1deg) scale(1, 1);
	 /* filter: blur(0.3px); */
	 /* filter: sepia(.5); */
  }
  40% {
	 transform: translate(-1px, -1px) skew(-2deg) scale(0.99, 1);
	 /* filter: blur(0); */
	 /* filter: sepia(.3); */
  }
  50% {
	 transform: translate(0px, 0px) skew(1deg) scale(1, 0.99);
	 /* filter: blur(0.2px); */
	 /* filter: sepia(.1); */
  }
  60% {
	 transform: translate(-1px, 1px) skew(2deg) scale(0.99, 0.99);
	 /* filter: blur(0.1px); */
	 /* filter: sepia(.4); */
  }
  70% {
	 transform: translate(0px, 0px) skew(0deg) scale(0.99, 1);
	 /* filter: sepia(.7); */
	 /* filter: blur(.2px); */
  }
  80% {
	 transform: translate(1px, -1px) skew(1deg) scale(0.99, 0.99);
	 /* filter: blur(0px); */
	 /* filter: sepia(.5); */
  }
  90% {
	 transform: translate(0px, 1px) skew(1deg) scale(1, 0.99);
	 /* filter: sepia(.3); */
  }
  100% {
	 transform: translate(0, 0) skew(-1deg) scale(1, 1);
	 /* filter: sepia(0); */
  }
}


/* ************************************************** */
/* ****************   Chat Tabs  ***************** * */
/* ************************************************** */

.tabbed-chat-log.tabs {
    flex: 0;
    margin: 0 0 5px;
    border-bottom: 1px solid #ff6400;
    box-shadow: 0 0 10px red;
}

.tabbed-chat-log .item.active {
    color: #FFF;
    border: 1px solid red;
    border-bottom: none;
    box-shadow: 0 0 6px inset #ff6400;
    border-radius: 5px 5px 0 0;
}

.tabbed-chat-log .item {
    height: 18px;
}


.tab-notification {
	color: yellow;
}

